In [1]:
# import connector modules
from mysql.connector import connect, Error

In [2]:
# connect to nobels database
try:
    mydb = connect(unix_socket='/run/mysqld/mysqld.sock', database="mlk224_DB")
    cursor = mydb.cursor()
except Error as e:
    print(e)

In [3]:
def doquery(query):
    cursor.execute(query)
    res = cursor.fetchall()
    for row in res:
        print(row[0])

In [4]:
query1 = """select genre, count(*) as number_of_songs
            from genre
            limit 3;""" 
doquery(query1)

Pop

In [5]:
query2 = """select genre, count(*) as number_of_songs
            from genre
            group by genre
            order by number_of_songs desc
            limit 3;""" 
doquery(query2)

Pop
Rock
Love
None

In [6]:
query3 = """select artist_name
            from artist
            where artist_name in (
                select artist_name from song where album_name is not null
            ) and artist_name in (
                select artist_name from song where album_name is null
            );""" 
doquery(query3)

In [14]:
query4 = """SELECT g.genre AS genre_name, COUNT(r.rating) AS number_of_song_ratings
            FROM genre g
            JOIN song s ON g.song_title = s.song_title  
            JOIN rating r ON s.song_title = r.song_title
            WHERE YEAR(r.rating_date) BETWEEN 1991 AND 1995
            GROUP BY g.genre
            ORDER BY number_of_song_ratings DESC
            LIMIT 3;
""" 
doquery(query4)

ProgrammingError: 1054 (42S22): Unknown column 'r.rating_date' in 'where clause'

In [7]:
query5 = """
            SELECT p.username, p.playlist_title, AVG(avg_song_rating) AS average_song_rating 
            FROM playlist p
            JOIN playlist_song ps ON p.playlist_title = ps.playlist_title
            JOIN (
            SELECT song_title, AVG(rating) as avg_song_rating
            FROM rating
            GROUP BY song_title
            ) r ON ps.song_title = r.song_title
            GROUP BY p.username, p.playlist_title
            HAVING AVG(avg_song_rating) >= 4.0;
         """
doquery(query5)

classicfan
edmdj
hiphophead
jazzfan
metalhead
popstar
rockstar
user123

In [8]:
query6 = """
        SELECT username, COUNT(rating) AS number_of_ratings 
        FROM rating 
        GROUP BY username 
        ORDER BY number_of_ratings DESC 
        LIMIT 5;
        """
doquery(query6)

musiclover
metalhead
jazzfan
hiphophead
user123

In [9]:
query7 = """
        SELECT artist_name, COUNT(song_title) as number_of_songs 
        FROM song 
        where YEAR(song_creation_time) between 1990 and 2010 
        GROUP BY artist_name 
        ORDER BY number_of_songs DESC 
        LIMIT 10;
        """
doquery(query7)

In [10]:
query8 = """
        SELECT song_title, COUNT(playlist_title) as number_of_playlists 
        FROM playlist_song 
        GROUP BY song_title
        ORDER BY number_of_playlists DESC, song_title ASC 
        LIMIT 10;
        """
doquery(query8)

Song 1
Song 10
Song 2
Song 3
Song 4
Song 5
Song 6
Song 7
Song 8
Song 9

In [11]:
query9 = """
        FROM song
        JOIN rating ON song.song_title = rating.song_title
        WHERE song.album_name IS NULL
        GROUP BY song_title
        ORDER BY number_of_ratings DESC
        LIMIT 20;
        """
doquery(query9)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'FROM song
        JOIN rating ON song.song_title = rating.song_title
        ...' at line 1

In [12]:
query10 = """
        SELECT artist_name
        FROM artist
        WHERE artist_name NOT IN (
            SELECT DISTINCT artist_name
            FROM album
            WHERE YEAR(release_date) > 1993
        );
        """
doquery(query10)

Jhene Aiko