## CS 210 Spring 2024 - Jan 18

---

### <font color="brown">Some Well-known Sites for Datasets and Data Management</brown>

#### [Kaggle](https://www.kaggle.com/)
#### [KDNuggets](https://www.kdnuggets.com/) 
#### [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/)

---

### <font color="brown">Cleaning Messy Data</brown>

**A significant part of data management and analysis has to do with cleaning messy data.
Here's a recent article on what kinds of problems you might encounter in the data that need to be dealt with.**

#### [How to Prepare Messy Data for Analysis](https://www.kdnuggets.com/data-cleaning-in-sql-how-to-prepare-messy-data-for-analysis)

---

### <font color="brown">Python Basics</brown>

**You can find out the Python version that is running as follows:**

In [1]:
from platform import python_version

In [2]:
python_version()

'3.11.3'

#### <font color="brown">Constants, Variables, Printing</brown>

In [3]:
3

3

In [4]:
3+3

6

In [5]:
x=3+3

**In Notebook, simply typing the name of a variable will print its value<br>
But in Python code written in a file outside of Notebook/Python console, you must use the print function**

In [6]:
x

6

In [7]:
print(x)

6

**Sometimes it's useful to find out the type of a variable (since you don't declare the type of a variable at the outset)**

In [8]:
type(x)

int

In [9]:
y=x+6

In [10]:
print(y)

12

In [11]:
a=2
p=2*2

In [12]:
print(a,p)

2 4

**You can string together variables, constants, and literals in a print call<br>
Literals can be enclosed in single or double quotes, makes no difference**

In [13]:
print(a,',',p)
print(a,",",p)

2 , 4
2 , 4

**Which means, to literally print a single quote you will need to enclose it in double quotes, and vice versa**

In [14]:
print("'")

'

In [15]:
print('"')

"

**Division can be done in one of two ways, with a real number result, or an integer result (fractional part truncated)**

In [16]:
3/2 # real number result

1.5

In [17]:
3 // 2  # integer result, fractional part truncated

1

In [18]:
3/0

ZeroDivisionError: division by zero

In [19]:
15 % 4 # modulus function, gives remainder of 15 divided by 4

3

**Modulus can be used on real numbers as well, and divisor can be an integer or real number**

In [20]:
7.4 % 5

2.4000000000000004

In [21]:
2.4 % 1.2

0.0

In [22]:
2.4 % 1.1

0.19999999999999973

---

#### <font color="brown">Arithmetic expressions, math functions</font>

In [23]:
2 + 3 * 5  # * (and /) precede + (and -)

17

In [24]:
(2+3) * 5

25

In [25]:
3 ** 2 # power

9

In [26]:
3 ** 2.2

11.211578456539659

In [27]:
-3 ** 3

-27

In [28]:
-3 ** 2

-9

In [29]:
(-3) ** 2  # make sure to use parens if you want to raise -3 to the power of 2

9

In [30]:
-3.2 ** 1.5

-5.7243340223994625

In [31]:
3 ** -2

0.1111111111111111

**Casting**

In [32]:
# real to int
x = int(5.5)
x

5

**Using the math module**

In [33]:
import math

print(math.pow(3,2))
print(math.pow(3,3))

9.0
27.0

In [34]:
print(math.pow(-3.2,2))

10.240000000000002

In [35]:
print(math.pow(2,0.5))  # square root of 2

1.4142135623730951

In [36]:
print(math.pow(-1,0.5)) # square root of -1?

ValueError: math domain error

**For math.pow(x,y), if x is negative and y is not an integer, then pow is undefined and raises an error.<br>
See Help -> Python Reference -> math.pow**

In [37]:
# but you can do this with the ** syntax, result is a complex number
(-1) ** 0.5

(6.123233995736766e-17+1j)

---

#### <font color="brown">Strings</font>

In [38]:
wr = 'wrangle'
print(wr)

wrangle

**Can use either single or double quotes for strings.<br>
You can create a multi-line string using three double quotes as delimiters**

In [39]:
# multi line string with three double quotes
multi_line = """line 1,
line2, and
line 3"""
print(multi_line)

line 1,
line2, and
line 3

**Alternatively, you can use the newline character \n to introduce new lines, like in Java or C**

In [40]:
multi_line

'line 1,\nline2, and\nline 3'

In [41]:
lines = 'line 1,\nline2, and\nline 3'
print(lines)

line 1,
line2, and
line 3

In [42]:
lines2 = 'line 1
line2, and
line3'

SyntaxError: unterminated string literal (detected at line 1) (3840471253.py, line 1)

**You can use the tab character \t to introduce tabs**

In [43]:
tabbed_str = 'before tab\tand after lab'

In [44]:
print(tabbed_str)

before tab	and after lab

In [45]:
tabbedStr = 'before\tafter'
print(tabbedStr)

before	after

**Concatenate strings using +**

In [46]:
print("cs" + "210")

cs210

In [47]:
print("cs" + 210)

TypeError: can only concatenate str (not "int") to str

**But you can't directly concatenate non-string parts - you need to use str function to convert to string first**

In [48]:
print("cs"+str(210))

cs210

In [49]:
cs210 = "cs" + str(210)
cs210

'cs210'

**When you use a number as first operand for +, it thinks you are adding (not concatenating to a string)**

In [50]:
x = 5 + 'y'
x

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Replicating a string**

In [51]:
'abc'*3

'abcabcabc'

---

#### <font color="brown">Formatting printed output</font>

**1. Using the format function**

In [52]:
m=15
n=10
print("{0}/{1} = {2}".format(m,n,m/n))

15/10 = 1.5

In [53]:
# you can also store the format in a string, then use it in print
fstr = "{0}/{1} = {2}".format(m,n,m/n)

In [54]:
print(fstr)

15/10 = 1.5

**2. Using the f-string**

In [55]:
print(f'{m}/{n} = {m/n}')

15/10 = 1.5

---

#### <font color='brown'>Parsing numeric value from string, querying the type of a value</font>

In [56]:
x=int('5')
print(x)
type(x)

5

int

In [57]:
y = float('-5.5')
print(y)
type(y)

-5.5

float

In [58]:
z = double('8.66667777')
print(z)
type(z)

NameError: name 'double' is not defined

**There is no double type in Python, but float is equivalent to double**

In [59]:
float('abc')

ValueError: could not convert string to float: 'abc'

In [60]:
abctype = type('abc')
x = 5
xtype = type(x)
print(abctype,',',xtype)

<class 'str'> , <class 'int'>

In [61]:
print(type('abc') == type(x))

False

---

#### <font color="brown">Boolean values and expressions</font>

In [62]:
tr = True
fl = False
print(tr,',',fl)

True , False

In [63]:
type(tr)

bool

In [64]:
2 == 3

False

In [65]:
res = 2 == 3
print(res)
type(res)

False

bool

In [66]:
2 != 3

True

In [67]:
num1 = 9
num2 = -10
num3 = 15

In [68]:
res = num3 > 0
print(res)

True

In [69]:
num1 > 0 and num2 > 0

False

In [70]:
num1 > 0 or num2 > 0

True

In [71]:
num1 < 0 or num3 < 0

False

In [72]:
not num1 < 0

True

In [73]:
not (num1 < 0)

True

**Precedence of boolean operators: not precedes and which precedes or**

In [74]:
num1 = 9
num2 = -10
num3 = 15

In [75]:
not num1 < 0 or num2 < 0

True

In [76]:
not (num1 < 0 or num2 < 0)

False

In [77]:
num1 < 0 and num3 < 0 or num2 < 0

True

In [78]:
num1 < 0 and (num3 < 0 or num2 < 0)

False

---

#### <font color="brown">Functions</font>

In [79]:
# function definition
def double(x):
    return x*2

In [80]:
# call the function
a = 5
adoub = double(a)
doub7 = double(7)
print(adoub,',',doub7)

10 , 14

**We will get more into functions next lecture**

---

#### <font color="brown">String methods</font>

Explore strings in Python documentation: Help -> Python Reference, then enter **string** in the search field<br>
Click on the first link - string - in the search results<br>
On the resulting page, click on String Methods in the yellow box at the top<p>

A method is a function that is applied on an existing string

In [81]:
"myfile.ipynb".endswith('ipynb')

True

In [82]:
"myfile.ipynb".startswith("my")

True

In [83]:
"myfile.ipynb".startswith("My")  # case sensitive!

False

In [84]:
str = "This is a sentence."
str.find("ten")

13

In [85]:
str.find("tense")

-1

**find returns -1 if argument is not found in target object**

In [86]:
str.isalpha() # This will be false because there is a period at the end

False

In [87]:
res = "abcd".isalpha()
print(res)
res = "".isalpha()  # if string is empty, returns false
print(res)
res = "hey!".isalpha() # exclamation point is not a letter
print(res)

True
False
False

In [88]:
# check if all digits
res = "1234".isdigit()
print(res)
res = "848-123-4456".isdigit()
print(res)

True
False

In [95]:
# replace
res = "01-18-2024".replace("-","/")
print(res)

01/18/2024

In [90]:
res = "This&that&the other".replace("&"," and ")
print(res)
res = "This&that&the other".replace("&"," and ", 1)  # only replace first occurence
print(res)

This and that and the other
This and that&the other

In [91]:
"  There's fluff at either end  ".strip()

"There's fluff at either end"

In [92]:
str = "Strip out ;,!"
newstr = str.strip(";,!")
print(newstr)

Strip out

In [93]:
newstr = str.strip(";!")
print(newstr)

Strip out ;,

**The strip method starts from the end of the string, and proceeds character by character.<br>
If the character is in the strip argument list, it is stripped out. <br>
If not, the method stops.**

In [96]:
str(5)

TypeError: 'str' object is not callable

**<font color="red">Beware! We used str as a variable, which hides the Python str function.<br>
So now when we use the str function, it won't work because it tries to apply 5 to the str object,<br>
which of course is not possible</font>**

**Not a good idea to use 'str' for variable name**