### <font color="brown">Problem Set 9: Pandas</font>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

---

#### Problem 1: 

**Series and DataFrame - Short Answer Questions**

**1. What does the following code print?**

<pre>
ser = Series({'A':25, 'B':31, 'C':26},name='scores')
print(ser.reset_index().scores[1])
</pre>

|     | Index | Scores |
|-----|-------|--------|
| 0   | A     | 25     |
| 1   | B     | 31     |
| 2   | C     | 26     |

Name: scores, dtype: int64

**---------------------------------------------------------------**

**2. What does the following code print?**

<pre>
df = DataFrame(np.arange(1,9).reshape(4,2), index=['A','B','C','D'])
df.loc['B':'D'][0].max()
</pre>

[1,2,3,4]
[5,6,7,8]

**---------------------------------------------------------------**

**3. Write 3 different ways to extract the last 3 rows of the following DataFrame**

<pre>
df = DataFrame(np.arange(1,25).reshape(4,6))
</pre>

**---------------------------------------------------------------**

**4. What is the result of the following?**

<pre>
data = DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Abby'],
   'subject_id':['sub1','sub2','sub3','sub4','sub5']})

data.T[1:3][2][0]
</pre>

|     | id | Name | subject_id|
|-----|-------|--------|--------|
| 0| 1 | Alex |sub1|
| 1| 2 | Amy |sub2|
| 2| 3 | Allen |sub3|
| 3| 4 | Alice |sub4|
| 4| 5 | Abby |sub5|

after `data.T[1:3][2][0]`

`'Allen'`

In [8]:
data = DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Abby'],
   'subject_id':['sub1','sub2','sub3','sub4','sub5']})

# data.T

# selects Name and subject_id rows because they are rows 1 and 2 (row 3 is not included)
# data.T[1:3] 

# selects the 3rd column of data.T which is index 2
# data.T[1:3][2]

# selects the 1st value of the 3rd col which is the Name col: Allen
data.T[1:3][2][0]

/var/folders/mw/fc5wj4ns76x4xcwycqk0_bt00000gn/T/ipykernel_89770/1449392395.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data.T[1:3][2][0]

'Allen'

**---------------------------------------------------------------**

**5. For the dataframe given below**

<pre>
data = DataFrame({'Univ':['USC', 'Yale', 'Harvard', 'UCLA', 'NCSU', 'NYU'],
                     'IVY':['No', np.nan, 'Yes', np.nan, 'No', np.nan]})
</pre>

**Which of the which of the following will make Yale an IVY, and NYU not an IVY, by setting the respective NaNs to 'Yes' and 'No'?:**

1. data['IVY'] = data['IVY'].fillna(method='bfill')
2. data['IVY'] = data['IVY'].fillna(method='ffill')
3. data['IVY'] = data['IVY'].fillna('Yes')
4. None of the above

|     | Univ | IVY |
|-----|-------|--------|
| 0| USC | No |
| 1| Yale | nan |
| 2| Harvard | Yes |
| 3| UCLA | nan |
| 4| NSCU | No |
| 5| NYU | nan |

1. No (bfill leave NaN when there is no last value to base the current value off of)
2. No
3. No
4. Yes

---

#### Problem 2

For the sub problem #5 above, write code that will give the desired result

In [11]:
data = DataFrame({'Univ':['USC', 'Yale', 'Harvard', 'UCLA', 'NCSU', 'NYU'],
                     'IVY':['No', np.nan, 'Yes', np.nan, 'No', np.nan]})

data['IVY'] = data['IVY'].fillna(method='bfill')
data['IVY'] = data['IVY'].fillna('No')

data

/var/folders/mw/fc5wj4ns76x4xcwycqk0_bt00000gn/T/ipykernel_89770/2040891481.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['IVY'] = data['IVY'].fillna(method='bfill')

      Univ  IVY
0      USC   No
1     Yale  Yes
2  Harvard  Yes
3     UCLA   No
4     NCSU   No
5      NYU   No

---

#### Problem 3
Execute the code below to get a series called nums. <br>
Fill in the missing values (NaN) by the rounded off mean value of the series and get a subset of the series where the numbers are divisible by 3.

In [13]:
from numpy import nan as NA
nums = Series(np.random.randint(1, 10, 20))
for i in range(5):
    nums[np.random.randint(0, 20, 1)] = NA
    
nums

0     6.0
1     4.0
2     5.0
3     8.0
4     1.0
5     2.0
6     NaN
7     3.0
8     2.0
9     6.0
10    3.0
11    NaN
12    NaN
13    7.0
14    4.0
15    2.0
16    NaN
17    NaN
18    5.0
19    8.0
dtype: float64

In [ ]:
nums.fillna(lambda x: nums.mean(x).round() % 3 ==0 )

---

#### Problem 4

Given the following series, keep only top 2 most frequent values as is, and replace everything else with 'Other'

<pre>
  ser = pd.Series(np.random.randint(1, 6, [12]))
</pre>

Hint: Use Series method <tt>isin</tt>

---

#### Problem 5

In the following Series, convert the first character of each word to uppercase. (Hint: the title() method of String converts the first letter of each word to uppercase, and all others to lowercase. Also try without using the title() method)

<pre>
   ser = Series(['how', 'to easily', 'learn', 'spoken spanish'])
</pre>

---

#### Problem 6

Write code to pick words in a Series that contain at least 2 vowels.

---

#### Problem 7

Write a generic function to switch the columns of a dataframe. (Take column names as input to function)